
.head-bar{
	-fx-background-color:#383838;
}
.theme{
	-fx-background-color:#51B1B3
	}

.boxes{
	-fx-background-radius:30;
}
.circle{
	-fx-background-radius: 50;
}

.button-dark{
	-fx-background-color: #808080;
	-fx-text-fill: white;
}

.button{
	-fx-background-color: #51B1B3;
	-fx-text-fill: white;
	-fx-background-radius:30;
	-fx-pref-height: 30;
}

.transparent{
	-fx-background-color:rgba(0,0,0,0);
}
