
.head-bar{
	-fx-background-color:#383838;
}
.theme{
	-fx-background-color:#51B1B3
	}

.boxes{
	-fx-background-radius:30.0;
}
.circle{
	-fx-background-radius: 50.0;
}

.button-dark{
	-fx-background-color: #808080;
	-fx-text-fill: white;
}

.button{
	-fx-background-color: #51B1B3;
	-fx-text-fill: white;
	-fx-background-radius:30.0;
	-fx-pref-height: 30.0;
}

.transparent{
	-fx-background-color:rgba(0.0,0.0,0.0,0.0);
}
.label-info-color{
	-fx-text-fill: #454d66
}

.table-view-style {
    -fx-font-size: 12px; /* 设置字体大小 */
    -fx-text-fill: #454d66; /* 设置字体颜色 */
}